.phonemeAnagrammes {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.ligne {
    width: 100%;
    min-height: 3.8em;
    border: solid black 1px;
}

.blocPhoneme {
    display: inline-block;
    border-radius: 0.5em;
    border: solid lightgrey 1px;
    /*padding: 0.1em 0em;*/
    width: 1.5em;
    text-align: center;
    margin: 0.1em;
    line-height: 1.5em;
    vertical-align: middle;
    font-size: 28px;
    position: relative;
    cursor: pointer;
    background-color: white;
}

.deletePhoneme {
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    opacity: 0.3;
}

.deletePhoneme:hover {
    opacity: 0.9;
}

#original {
    background: #eee;
}

.aideMemoire {
    display: inline-block;
    width: 50%;
}

.blocCommandesLigne {
    display: inline-block;
    float: right;
    height: 1em;
}

.dupliquerLigne,
.supprimerLigne,
.modeLigne {
    cursor: pointer;
    display: inline-block;
    margin: 0.5em;
    border: solid lightgrey 1px;
    padding: 3px;
}


#wrapIdees>.ligne {
    margin-top: 1em;
    z-index: 1;
    background-color: white;
}

.toggleAide,
#toggleChaton {
    cursor: pointer;
    text-decoration: underline;
}

.toggleAide:hover {
    text-decoration: underline;
}

#toggleChaton {
    font-size: 10px;
}

#resultatAuto {
    height: 99vh;
    overflow: auto;
    font-size: 19px;
}

#colWrapResultats {
    position: fixed;
    right: 0px;
}

.phonemeAutoAnagrammes {
    background-color: #eaf7ed
}

.waiting {
    background-image: url(wait.gif);
    background-position: center;
    background-repeat: no-repeat;
}

.selectable {
    background-color: lightblue;
}

.proposition {
    border-top: solid lightgrey 1px;
    font-weight: bold;
    /* display: flex; */
}

.last {
    cursor: pointer;
    text-decoration: underline;
    font-weight: normal;
}

.reduireProposition {
    float: right;
    background: lightgrey;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    vertical-align: middle;
    line-height: 1em;
    text-align: center;
}

#exemplePho {
    margin-left: 20px;
}

.captionSuggestion {
    /*text-transform:capitalize;*/
    cursor: pointer;
}

#tailleMotMini {
    width: 3em;
}

.blocPhonemeOblig {
    border: solid red 1px;
}

.proposition[data-rang='0'] {
    background-color: #eee
}

#exclureDuDico,
#expressionsObligatoires,
#motsAjoutes {
    width: 100%;
    min-height: 4em;
}

#notesPerso {
    width: 100%;
    min-height: 4em;
}

#zoomMoinsText,
#zoomPlusText {
    height: 2.1em;
    display: inline-block;
    cursor: pointer;
    border: solid lightgrey 1px;
    border-radius: 50%;
}

#zoomMoinsText:hover,
#zoomPlusText:hover {
    background-color: #eaf7ed
}

.boutonChoixLangue {
    display: inline-block;
}

#selectFr,
#selectEn {
    height: 1.7em;
    display: inline-block;
    cursor: pointer;
    border: solid white 2px;
    opacity: 0.3;
    border-radius: 2px;
}

#selectFr.lgSelected,
#selectEn.lgSelected {
    border: solid black 2px;
    opacity: 1;
}

#phraseOriginale {
    width: 100%
}

.lignePhonemesWrap {
    padding-top: 35px;
}

.modeLigne {
    text-decoration: underline;
}


.visuFrequenceWrap {
    opacity: 0.4;
    display: inline-block;
    height: 1em;
    width: 100px;
    margin-left: 15px;
    border: solid black 1px;
}

.visuFrequenceBar {
    display: flex;
    align-items: center;
    color: black;
    height: 1em;
    background-color: #7bcf8f;
    height: 100%;
    overflow-x: visible;
    white-space: nowrap;
}

.propositionCachee {
    display: none;
}

.motDePhrase:hover {
    background: rgb(200, 200, 200);
}

#stopWorker:hover {
    background-color: red !important;
}

#wrapProgressFilter {
    display: flex;
    height: 5px;
    width: 100%;
    border: solid grey 1px;

}

#progressFilter {
    height: 100%;
    display: inline-block;
    background-color: green;
}

#aide {
    display: none;
}

.hiddenOption {
    display: none;
}